CLESharedResources/Service Descriptors/OnStartupCLEFlags.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/OnStartupCLEFlags/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnStartupCLEFlags" targetNamespace="http://www.tibco.com/OnStartupCLEFlags/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/OnStartupCLEFlags/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operationRequest1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operationRequest">
    <wsdl:part element="tns:operationRequest" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operationResponse">
    <wsdl:part element="tns:operationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operationRequest1">
    <wsdl:part element="tns:operationRequest1" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="OnStartupCLEFlags">
        <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest1" name="operationInput"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="OnStartupCLEFlagsSOAP" type="tns:OnStartupCLEFlags">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.tibco.com/OnStartupCLEFlags/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnStartupCLEFlags">
    <wsdl:port binding="tns:OnStartupCLEFlagsSOAP" name="OnStartupCLEFlagsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
