TIBItemToNCR/Schemas/MDMCanonicals/2014/CanonicalData/ItemMasterEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://mdm.wsgc.com/2014/CanonicalData"
	 xmlns:common="http://ecommerce.wsgc.com/2013/Common"
	 targetNamespace="http://mdm.wsgc.com/2014/CanonicalData"
	 version="1.0"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://ecommerce.wsgc.com/2013/Common" schemaLocation="../../2013/Common/common-all.xsd"/>
	<xs:include schemaLocation="base-types.xsd"/>
	<xs:complexType name="ItemMasterType">
		<xs:sequence minOccurs="0">
			<xs:element name="ItemHeader" type="ItemHeaderType">
				<xs:annotation>
					<xs:documentation>This section contains the core item attributes such as ItemHeader, MerchHierarchy etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MerchHierarchy" type="MerchHierarchyType">
				<xs:annotation>
					<xs:documentation>This section contains Merchandise Hierarchy Information for an Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Differentiator" type="PropertyTypeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This section contains Item and Differentiators published from RMS to MDM. e.g. Style can have differentiator type as CL(Color) but value as blank and a Selling SKU can have specific value of differentor type="CL" as RD(RED)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:choice>
					<xs:element name="PackDefinition" type="CompositeItemType">
						<xs:annotation>
							<xs:documentation>Provides the components making up a Pack item.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BomDefinition" type="CompositeItemType">
						<xs:annotation>
							<xs:documentation>Provides the components making up a BOM (Bill of Materials) item.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DummyDefinition" type="DummyItemType">
						<xs:annotation>
							<xs:documentation>Provides the items that are represented if this is a dummy item.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:element name="SetDefinition" type="CompositeItemType" minOccurs="0"/>
			<xs:element name="ReplacedByItem" type="ReplacementItemType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides the details of any item(s) that replace this item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociateDiscountCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            The associate discount code for this item. If the element is not present then
            the item is not eligible for an associate discount.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VasLocation" type="VasLocationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines the permitted value added services for a specific value added service location.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ItemEntityAttributes"/>
	</xs:complexType>
	<xs:complexType name="ReplacementItemType">
		<xs:annotation>
			<xs:documentation>Indicates how given item is linked to other items</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="actionCode" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
              Indicates type of the link like "ReSkuImmediate","ReSkuOnHandZero"
            </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="conceptCode" type="common:ConceptCodeType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VasLocationType">
		<xs:annotation>
			<xs:documentation>Defines a location on an item to which a value added service may be applied. The customer may select at most
        one of the supported services in each location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer-friendly description of the location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="VasDefinitionType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines a possible value addedd service that could be applied in this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="location" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The location where personalization or Monogramming is done. e.g. "top","bottom","front", the value "default" is used etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isRequired" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>If present and true, indicates that the customer is required to select a value added service for this location
          when purchasing the item. If absent or false then the customer may purchase the item without any service in this location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VasDefinitionType">
		<xs:annotation>
			<xs:documentation>
        Defines a particular value added service that an item supports.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="LineLength" type="xs:integer" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>For personalization style services, defines the number of characters allowed on each line.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MonogramOptionCode" type="xs:string">
					<xs:annotation>
						<xs:documentation>For monogram style services, defines the allowed numbers of initials, for example "3" indicates exactly 3 initials, "123" indicates 1, 2, or 3 initials.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Instructions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates Special personalization instructions for this item, suitable for display to a customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Style" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
            Defines a valid style code (which defines the font, style,
            etc) for this service. If no styles are provided then the
            style is assumed to be implied by the service. If exactly
            one style is provided then the customer is told that is the
            style and is not able to make any selection.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
            Defines a valid color code for this service. If no fonts
            are provided then the font is assumed to be implied by the
            service. If exactly one style is provided then the customer
            is told that is the style and is not able to make any
            selection.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Defines the type of service, for example "personalization" or "monogramming".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ItemHeaderType">
		<xs:annotation>
			<xs:documentation>Contains all basic item elements and flags of an item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
            Indicates Item creation timestamp in source systems
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>
            Indicates Type of Item the Item record. For Example – BOM(BOM SKU), PACK(Pack SKU), COMP(Component SKU) etc.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parent" type="ItemIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>it is an optional. for a component it can be a style ITem ID.
            Indicates Item’s Parent Item Number (Style)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>
            This name is used in RMS and in store registers for stock look-ups. The maximum number of characters for this description with differentiator information is 100 characters; therefore it is recommended that this entry be 50 characters or less. For example, if the La Provence Cushioned Kitchen Mat has two differentiator codes, size and color, the following description is created after the differentiators are entered:

            Description: LA PROVENCE CUSHIONED KITCHEN MAT
            Diff ID Code (1): 31x22
            Diff ID Code (2): BLUE
            Item Description: LA PROVENCE CUSHIONED KITCHEN MAT 31X22 BLUE
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShortName">
				<xs:annotation>
					<xs:documentation>"This name is the most visible of all descriptions. It appears on the customer's cash register receipt, is limited to a length of 20 characters,  and is printed on the item's DTC and Retail ticket. It is also used in the DC for receiving and picking, on purchase orders, in store POS systems, on Customer Care Center screens, on DTC invoices, and in IPMS inquiries.
            Here is an example of a Cash Register Description: LP MAT 31X22 BLU"
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MediumName">
				<xs:annotation>
					<xs:documentation>"This name is displayed on the Customer Care Center order-taking system and also on Gift Kiosk and Bridal Registry screens. The description for the style is entered in this field, and the Diff ID is added when the Diff information is entered on those tabs. The maximum number of characters for this description with Diff information is 35 characters; therefore it is recommended that this entry be 20 characters or less. See example below.
            Description: LA PRVNCE CSHND MAT
            Diff ID Code (1):  31x22
            Diff ID Code (2): BLUE
            35 Character Description: LA PRVNCE CSHND MAT 31X22 BLU"
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LongName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates eCommerce description of the Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsShoppable" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Indicates if the item may be sold as a unit.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsPerishable" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the item is a perishable item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsDirectShip" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if item is avaiable for Direct Ship</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsConveyable" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the item is Conveyable</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsInHome" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the Item receives In-home delivery.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsUbcEnabled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="HasGiftWrapAvailable" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the Item can be Gift wrapped for the customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollectionCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Indicates Collection code of an Item
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxCategoryCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            The tax category code of the Item. This is required on those items that
            are for sale with a non-zero price.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCopy" type="ProductCopyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains descriptive copy, differentiated by type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductImage" type="ProductImageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentType">
		<xs:annotation>
			<xs:documentation>Contains elements to represent Pack, BOM or Set components</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="conceptCode" type="common:ConceptCodeType" use="required"/>
				<xs:attribute name="quantity" type="common:QuantityType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CompositeItemType">
		<xs:annotation>
			<xs:documentation>Represents an item which is in turn constructed from a combination of other items. For a Set, Eaches are represented by the Component element.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Component" type="ComponentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DummyItemType">
		<xs:annotation>
			<xs:documentation>Represents the items that are referenced by a dummy item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Item" type="ItemIdType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemMasterEventType">
		<xs:annotation>
			<xs:documentation>Contains elements to represent core Item Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SystemContext" type="common:SystemContextType"/>
			<xs:element name="ItemMaster" type="ItemMasterType"/>
		</xs:sequence>
		<xs:attribute name="version" type="common:VersionType" use="required"/>
	</xs:complexType>
	<xs:element name="ItemMasterEvent" type="ItemMasterEventType"/>
	<xs:complexType name="ProductCopyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProductImageType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>