TIBItemToNCR/Schemas/NCR/NCRHTTPResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.wsgc.com/ncr/HTTPResponse" elementFormDefault="qualified" targetNamespace="http://www.wsgc.com/ncr/HTTPResponse">
  <complexType name="NCRHTTPResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="message" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="propertyName" type="string"/>
    </sequence>
  </complexType>
  <element name="NCRHTTPResponseElement" type="tns:NCRHTTPResponseElementType"/>
</schema>
