TIBItemToNCR/Schemas/NCR/NCRLoginReq.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.wsgc.com/ncr/loginReq" elementFormDefault="qualified" targetNamespace="http://www.wsgc.com/ncr/loginReq">
  <complexType name="NCRLoginReqElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="orgName" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="userName" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="password" type="string"/>
    </sequence>
  </complexType>
  <element name="NCRLoginReqElement" type="tns:NCRLoginReqElementType"/>
</schema>
