CLESharedResources/Schemas/XMLSchemas/TibcoInternal/InLineSchemas.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ems.wsgc.com/InLineSchemas" elementFormDefault="qualified" targetNamespace="http://ems.wsgc.com/InLineSchemas">

    <element name="FilePollerCLEFlagsSubProcessInput">
    	<complexType>
    	<sequence>
    		<element name="FilePath" type="string"></element>
    		<element name="FileEncoding" type="string"></element>
    	</sequence>

    	</complexType>
    </element>
</schema>
